<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript"
	src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript" src="js/chart.js"></script>
<script src="webjars/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="webjars/chosen/chosen.css" />
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<meta name="_csrf" th:attr="content=${_csrf.token}" />
<meta name="_csrf_header" th:attr="content=${_csrf.headerName}" />
<script type="text/javascript">
	$(document).ready(function() {
		$(".chosen-select").chosen();
	});
</script>
<title>Weekly Report Sentiment</title>
</head>
<body>
	<form id="cust_select_form">
		<select name="customer" class="chosen-select" id="cust_select"
			multiple="multiple" data-placeholder="Customer(s)">
		</select> <select name="date" class="chosen-select" id="date_select"
			multiple="multiple" data-placeholder="Date(s)">
		</select> <select name="play" class="chosen-select" id="play_select"
			multiple="multiple" data-placeholder="Play(s)">
		</select> <select name="pas" class="chosen-select" id="pa_select"
			multiple="multiple" data-placeholder="Account PA(s)">
		</select> <select name="sentiment" class="chosen-select" id="sentiment_select"
			multiple="multiple" data-placeholder="Sentiment">
		</select> <select name="category" class="chosen-select" id="category_select"
			multiple="multiple" data-placeholder="Categories">
		</select> <input type="text" name="q" id="q" placeholder="Search Report Text" /> <input
			type="submit" id="refresh" name="refresh" value="refresh" />
	</form>
	<div id="curve_chart"></div>

	<div id="report_table"></div>
</body>
</html>