<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript" src="js/chart.js"></script>
<script src="webjars/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="webjars/chosen/chosen.css" />
<link rel="stylesheet" href="css/styles.css" />
<meta name="_csrf" th:attr="content=${_csrf.token}" />
<meta name="_csrf_header" th:attr="content=${_csrf.headerName}" />
<script type="text/javascript">
	$(document).ready(function() {
		$(".chosen-select").chosen();
	});
</script>
<title>Weekly Report Sentiment</title>
</head>
<body>
	<form id="cust_select_form">
		<select name="customer" class="chosen-select" id="cust_select">
			<option value="_all">All</option>
		</select> <select name="date" class="chosen-select" id="date_select">
			<option value="_all">All</option>
		</select> <select name="play" class="chosen-select" id="play_select">
			<option value="_all">All</option>
		</select> <select name="pas" class="chosen-select" id="pa_select" multiple="multiple" data-placeholder="Account PA(s)">
			<option value="_all">All</option>
		</select> <select name="sentiment" class="chosen-select" id="sentiment_select">
			<option value="_all">All</option>
		</select> <select name="category" class="chosen-select" id="category_select">
			<option value="_all">All</option>
		</select>

	</form>
	<div id="curve_chart"></div>

	<div id="report_table"></div>
</body>
</html>